apiVersion: v1
kind: ConfigMap
metadata:
  name: ohif-config
data:
  app-config.js: |
    window.config = {
      routerBasename: '/',
      servers: {
        dicomWeb: [
          {
            name: 'Orthanc',
            wadoUriRoot: '/orthanc/wado',
            qidoRoot: '/orthanc/dicom-web',
            wadoRoot: '/orthanc/dicom-web',
            qidoSupportsIncludeField: false,
            imageRendering: 'wadors',
            thumbnailRendering: 'wadors',
            enableStudyLazyLoad: true,
          }
        ]
      },
      // Keycloak OIDC Integration
      oidc: [
        {
          authority: 'https://auth.lightbridge.io/realms/vna',
          client_id: 'ohif-viewer',
          redirect_uri: '/callback',
          response_type: 'code',
          scope: 'openid profile email',
          post_logout_redirect_uri: '/'
        }
      ]
    };