apiVersion: apps/v1
kind: Deployment
metadata:
  name: orthanc-engine
spec:
  replicas: 2 # Stateless scaling
  selector:
    matchLabels:
      app: orthanc
  template:
    metadata:
      labels:
        app: orthanc
    spec:
      containers:
        - name: orthanc
          image: osimis/orthanc:23.6.1
          ports:
            - containerPort: 8042
          env:
            # Wire up the Database
            - name: ORTHANC__POSTGRESQL__HOST
              value: "orthanc-db-rw" 
            # Wire up the Storage (MinIO)
            - name: ORTHANC__AWS_S3_STORAGE__BUCKET
              value: "lightbridge-imaging-data"
            - name: ORTHANC__AWS_S3_STORAGE__REGION
              value: "us-east-1"
            - name: ORTHANC__AWS_S3_STORAGE__ENDPOINT
              value: "http://minio.lightbridge.svc:9000"