apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-orthanc
  labels:
    app: orthanc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orthanc
  template:
    metadata:
      labels:
        app: orthanc
    spec:
      containers:
        - name: orthanc
          image: jodogne/orthanc-plugins:1.12.1
          ports:
            - containerPort: 8042
              name: http
            - containerPort: 4242
              name: dicom
          env:
            # We inject the MinIO credentials here so Orthanc can talk to storage
            - name: ORTHANC__AWS_S3_STORAGE__BUCKET
              value: "{{ .Values.orthanc.storage.bucket }}"
            - name: ORTHANC__AWS_S3_STORAGE__ACCESS_KEY
              value: "{{ .Values.orthanc.storage.accessKey }}"
            - name: ORTHANC__AWS_S3_STORAGE__SECRET_KEY
              value: "{{ .Values.orthanc.storage.secretKey }}"
            - name: ORTHANC__AWS_S3_STORAGE__ENDPOINT
              value: "http://{{ .Release.Name }}-minio:9000"
            - name: ORTHANC__POSTGRESQL__HOST
              value: "{{ .Release.Name }}-postgres-postgresql"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-orthanc
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8042
      protocol: TCP
      name: http
    - port: 11112
      targetPort: 4242
      protocol: TCP
      name: dicom
  selector:
    app: orthanc