apiVersion: v1
kind: ConfigMap
metadata:
  name: lightbridge-realm-config
data:
  lightbridge-realm.json: |
    {
      "id": "lightbridge",
      "realm": "lightbridge",
      "enabled": true,
      "sslRequired": "none",
      "users": [
        {
          "username": "doctor",
          "enabled": true,
          "credentials": [{"type": "password", "value": "password123"}],
          "realmRoles": ["admin"]
        }
      ],
      "clients": [
        {
          "clientId": "minio",
          "enabled": true,
          "publicClient": false,
          "secret": "minio-client-secret",
          "directAccessGrantsEnabled": true,
          "redirectUris": ["*"],
          "webOrigins": ["*"]
        }
        {
          "clientId": "ohif-viewer",
          "enabled": true,
          "publicClient": true,
          "directAccessGrantsEnabled": true,
          "redirectUris": ["*"],
          "webOrigins": ["*"]
        }
      ]
    }