apiVersion: v1
kind: ConfigMap
metadata:
  name: lightbridge-realm-config
  namespace: {{ .Release.Namespace }}
data:
  lightbridge-realm.json: |
    {
      "id": "lightbridge",
      "realm": "lightbridge",
      "enabled": true,
      "sslRequired": "external",
      "bruteForceProtected": true,
      "users": [
        {
          "username": "doctor",
          "enabled": true,
          "credentials": [{"type": "password", "value": "changeme", "temporary": true}],
          "realmRoles": ["admin"],
          "requiredActions": ["UPDATE_PASSWORD"]
        }
      ],
      "clients": [
        {
          "clientId": "minio",
          "enabled": true,
          "publicClient": false,
          "secret": "minio-client-secret",
          "directAccessGrantsEnabled": true,
          "redirectUris": ["/minio/*", "/console/*"],
          "webOrigins": ["+"]
        },
        {
          "clientId": "ohif-viewer",
          "enabled": true,
          "publicClient": true,
          "directAccessGrantsEnabled": false,
          "redirectUris": ["/viewer/*", "/callback"],
          "webOrigins": ["+"]
        }
      ]
    }
